.posts {
  width: 100%;
  max-width: 960px;
  margin: 2rem auto 0;
  padding: 0;
  list-style: none;
}

.posts__item {
  padding: 3rem 0;
  border-bottom: 1px solid #e1e0e1;
}

.posts__item:first-child {
  padding-top: 0;
}

.posts__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

@media screen and (max-width: 1024px) {
  .posts {
    max-width: 768px;
  }
}
